@charset "utf-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body, html {

    background-color: wite;
}

header {
    background: transparent;
    background-color: rgba(0, 0, 0, 0.8);
    left: 0%;
    padding: 15px;
    
}

header > h1 {
    padding: 10;
    text-align: right;
    color: white;
}

i#burguer {
    color:  white; 
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

i#burguer:hover {

    color:#1f2029;
}

menu {
    display: none;

}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10 px;
    text-decoration: none;
    text-align: center;
    background-color: dodgerblue;
    color: white;
    border-top: 1px solid rgba(186, 235, 251, 0.56);
    border-bottom: 1px solid rgba(186, 235, 251, 0.56);
    padding: 10px;
}

menu >ul > li> a:hover {
    background-color: rgba(85, 159, 234, 0.859);
    color: black;
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: -70px;
    padding: 10px;
    border-radius: 10px;

}

article > h1 {
    padding-bottom: 20px;
}

article > h3 {
    padding-bottom: 10px;
}

article > p {
    text-align: justify;
    margin-bottom: 10px;
}

/*configuração de quem somos*/

.identity {
    
    position: absolute;
    width: 70vw;
    background: transparent;
    background-color: rgba(0, 0, 0, 0.8);
    left: 15%;
    padding: 15px;
    border-radius: 15px;
    color: white;

}

/*configuração de nossos servicos*/

.services{

    position: absolute;
    width: 70vw;
    background: transparent;
    background-color: rgba(0, 0, 0, 0.8);
    left: 15%;
    padding: 15px;
    border-radius: 15px;
    color: white;
}



/*configuração do formulário*/


.box {
    position: absolute;
    background: transparent;
    background-color: rgba(0, 0, 0, 0.8);
    left: 40%;
    padding: 15px;
    border-radius: 15px;
    color: white;
}

fieldset {
    border: 0px solid;  
    border-radius: 8px;
}

fieldset p {
    padding-bottom: 10px;
    padding-top: 10px;
}

legend{
    border: 1px solid dodgerblue;
    padding: 3px;
    text-align: center;
    background-color: dodgerblue;
    border-radius: 8px;
    
}

.inputUser {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.labelInput {
    position: relative;
    bottom: 20px;
    left: 0px;
    pointer-events: none;
    transition: .5s;

}

.inputUser:focus ~ .labelInput, 
.inputUser:valid ~ .labelInput {
    top: -40px;
    font-size: 14px;
    color: dodgerblue;
}

/*configuracao do input e do label do formulario*/
.inputUsermsg {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.labelInputmsg {
    position: relative;
    bottom: 25px;
    left: 0px;
    pointer-events: none;
    transition: .5s;

}

.inputUsermsg:focus ~ .labelInputmsg,
.inputUsermsg:valid ~ .labelInputmsg{
    top: -75px;
    font-size: 12px;
    color: dodgerblue;
}

#submit {
    background: transparent;
    background-color: dodgerblue;
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;

}

#submit:hover{
    background: transparent;
    background-color: rgba(85, 159, 234, 0.859);

}

#reset {background: transparent;
    background-color: dodgerblue;
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;

}

#reset:hover{
    background: transparent;
    background-color: rgba(85, 159, 234, 0.859);
    

}




/*configuração de nossos servicos*/

.rodape{

    position: absolute;
    width: 100vw;
    background: transparent;
    background-color: rgba(0, 0, 0, 0.8);
    left: 0%;
    padding: 15px;
    color: white;
}









